@font-face {
  font-family: "Recursive";
  src: url("other/RecMono-Linear-1.52.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Recursive";
  src: url("other/RecMono-LinearItalic-1.52.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Recursive";
  src: url("other/RecMono-LinearBold-1.52.ttf");
  font-style: oblique;
}

#main {
  font-family: "Recursive", monospace;
  font-size: 30px;
  text-align: center;
  font-color: blue;
}

.desc {
  font-family: "Recursive", monospace;
  text-align: center;
}
