@font-face {
  font-family: "Recursive";
  src: url("../other/RecMono-Linear-1.52.ttf");
}

@media (prefers-color-scheme: dark) {
  :root {
    --visited: lightgreen;
    --text: white;
    --background: black;
    --heading: lightblue;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --visited: #278827;
    --not-visited: hotpink;
    --text: black;
    --background: white;
    --heading: #3eb7de;
  }
}

body {
  background-color: var(--background);
  font-family: "Recursive";
  color: var(--text);
  text-align: left;
}

h1 {
  color: var(--heading);
  margin: 30px;
  padding: 15px;
  font-size: 35px;
  text-align: center;
  border-bottom: 3px solid var(--text);
}

a:visited {
  color: var(--visited);
}

a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 70%;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1em;
  transition: font-size 0.5s ease-in-out, opacity 0.5s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a:hover {
  opacity: 100%;
  font-weight: bold;
  font-size: 1.25em;
}

.game-selection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 25vh;
}