@font-face {
  font-family: "Recursive";
  src: url("../other/RecMono-Linear-1.52.ttf");
}

h1 {
  font-family: "Recursive";
  font-size: 35px;
  text-align: center;
  margin: 30px;
  border-bottom: 3px solid black;
  padding: 15px;
}

ul {
  text-align: left;
  list-style-type: none;
  font-family: "Recursive";
}

li {
  margin-bottom: 10px;
  color: white;
}

a:visited {
  color: lightgreen;
}

a {
  text-decoration: none;
  font-weight: bolder;
}

body {
  background-color: black;
  overflow: hidden;
  color: lightcyan;
}